:root {
  --fhr-color-primary: #d52b1e;
  --fhr-color-secondary: #007aff;
  --fhr-color-background: #FFFFFF;
  --fhr-color-border: #212121;
  --fhr-color-text: #212121;
  --fhr-color-text-secondary: #888888;
}